#humMenu {
  padding: 12px;
}

#humCheck, #humClose { display:none; }
#humOpen {
  display: block;
  width: 58px;
  cursor: pointer;
}
#humOpen:hover {
  opacity: 0.5;
}
#humOpen img { display: block; }
#humClose, nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
#humClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
}
nav {
  z-index: 3;
  width: 330px;
  background: white;
  transition: 0.5s;
  transform: translateX(-100%);
}
#humCheck:checked ~ #humClose { display: block; }
#humCheck:checked ~ nav {
  transform: translateX(0);
}
nav ul{
overflow: hidden;
list-style: none;
}
nav li{
  padding: 15px 0;
  margin: 10px 0;
}
nav li:hover{
  opacity: 0.5;
}
nav li a{
  font-size: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

header{
  background-color: honeydew;
  color: orange;
  font-size: 50px;
}

body{
   text-align:center;
}

.osi .artist{
font-size: 25px;
}

#gnav li{
  list-style-type: none;
  font-size:20px;
  margin-bottom: 10px;
}

#gnav{
  margin-bottom: 50px;
  text-align: center;
}

.osi a{
  font-size: 16px;
  margin-right: 10px;
}
