#humMenu {
  padding: 12px;
}

#humCheck, #humClose { display:none; }
#humOpen {
  display: block;
  width: 58px;
  cursor: pointer;
}
#humOpen:hover {
  opacity: 0.5;
}
#humOpen img { display: block; }
#humClose, nav {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
}
#humClose {
  z-index: 2;
  width: 100%;
  background: gray;
  opacity: 0.8;
  transition: 0.5s;
}
nav {
  z-index: 3;
  width: 330px;
  background: white;
  transition: 0.5s;
  transform: translateX(-100%);
}
#humCheck:checked ~ #humClose { display: block; }
#humCheck:checked ~ nav {
  transform: translateX(0);
}
nav ul{
overflow: hidden;
list-style: none;
}
nav li{
  padding: 15px 0;
  margin: 10px 0;
}
nav li:hover{
  opacity: 0.5;
}
nav li a{
  font-size: 20px;
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.header{
  list-style: none;
  background-color: honeydew;
  display: flex;
  flex-flow: row;
}

header h1{
  color: orange;
  font-size: 50px;
  margin: auto auto;
}

.osi .artist{
font-size: 25px;
padding-left: 10px;
}

#gnav li{
  list-style-type: none;
  font-size:20px;
  margin-bottom: 10px;
}

#gnav{
  margin-bottom: 50px;
  text-align: center;
}

.osi img{
  height: 250px;
  width: 250px;
  margin-right: auto;
  margin-left: auto;
}

.link{
  font-size: 18px;
  padding-left: 20px;
  list-style-type: none;
}

.link li{
  margin-bottom: 16px;
  text-align: left;
}

.hidden_box {
    margin: 2em 0;/*前後の余白*/
    padding: 0;
}

.hidden_box label{
  text-decoration: underline;
}
/*ボタンホバー時*/
.hidden_box label:hover {
    background: #efefef;
    color:purple;
}

/*チェックは見えなくする*/
.hidden_box input {
    display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
    padding: 10px 0;
    height: auto;
    opacity: 1;
}

.osimem{
  height: 282px;
  width: 385px;
  display: inline-flex;
}

.osi{
  text-align: center;
  margin: 0 auto;
}
