header{
  background-color: honeydew;
  color: orange;
  font-size: 50px;
}

body{
   text-align:center;
}

.osi .artist{
font-size: 25px;
}

#gnav li{
  list-style-type: none;
  display: flex;
  font-size:20px;
}

#gnav{
  margin-bottom: 50px;
}

.osi a{
  font-size: 16px;
  margin-right: 10px;
}
